* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style: none !important;
    box-sizing: border-box !important;
}


























































































































































header {
    width: 100%;
    background: url("../img/header.png") no-repeat center center / cover;
    height: 967px;

    .my_contact {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            font-size: 16px;
            font-weight: 400;
            color: white;

            i {
                padding: 8.05px 8.14px 8.06px 8.13px;
                background: #F4AB00;
            }
        }

        .tell_me {
            margin-right: 20px;
        }
    }

    .my_link {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            padding: 9px;
        }
    }

    nav {
        width: 100%;
        height: auto;
        background: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 35px;

        ul {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0;

            li {
                padding-right: 15px;
                padding-left: 15px;

                a {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    color: #232425;
                }
            }
        }

        .navBrandLogo {
            font-size: 24px;
            font-weight: 700;
            color: black;
        }

        .btn-btn-primary {
            font-size: 18px;
            padding: 11px 26px 11px 27px;
            background-color: #F4AB00;
            border-radius: 32px;
            color: #fff;
        }
    }

    h1 {
        font-size: 60px;
        font-weight: 400;
        color: #fff;

        span {
            color: #F4AB00;
        }
    }

    .text-header {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        line-height: 34px;
    }

    .btn-Header {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        border-radius: 32px;
        background: #F4AB00;
        color: #fff;
        padding: 15px 46px;


    }

}

// header::after {
//     content: "";
//     background: url("../img/after.png") no-repeat center center / cover;
//     width: 100%;
//     height: 115px;
//     display: block;
//     position: absolute;
//     bottom: -50%;    
//     left: 0;

// }


.section_top {
    width: 100%;
    // height: 600px;
}

@media (max-width:1399px) {
    header {
        height: auto;

        h1 {
            font-size: 54px;

        }

        .btn-Header {
            margin-top: 25px;
        }

        .text-header {
            margin-bottom: 30px;
        }
    }

    header::after {
        bottom: -16%;
    }

    .card-img {
        img {
            width: 100%;
        }
    }
}

@media (max-width:1199px) {
    header h1 {
        font-size: 40px;
    }

    header .text-header {
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        line-height: 24px;
    }

    header nav {
        width: 100%;
        height: auto;
        background: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 16px;
    }

    header::after {
        bottom: -10%;
    }
}

@media (max-width:991px) {
   nav{
    display: flex;
    justify-content: space-between !important;
   }
   .bars{
    color: #232425;

    font-size: 24px;
   }
   header::after {
    bottom: -64%;
}
}
@media (max-width:767px){
    header::after {
        bottom: -60%;
    }
}
@media (max-width:575px){
    header::after {
        bottom: -60%;
    }
    .my_contact{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    header .my_contact .tell_me {
        margin-right: 42px;
        margin-bottom: 20px;
    }
    .my_link{
        margin-left: 20px;
    }
    header h1 {
        font-size: 34px;
    }
    .card-img img {
        margin-top: 30px;
        width: 100%;
    }
    header::after {
        bottom: -49%;
    }
}